<div class="calculadora">
    <app-visor></app-visor>

    <app-linha>
        <app-botao></app-botao>
        <app-botao></app-botao>
        <app-botao></app-botao>
        <app-botao></app-botao>
    </app-linha>

    <app-linha>
        <app-botao></app-botao>
        <app-botao></app-botao>
        <app-botao></app-botao>
        <app-botao></app-botao>
    </app-linha>

    <app-linha>
        <app-botao></app-botao>
        <app-botao></app-botao>
    </app-linha>

    <app-linha>
        <app-botao></app-botao>
        <app-botao></app-botao>
        <app-botao></app-botao>
        <app-botao></app-botao>
    </app-linha>

    <app-linha>
        <app-botao></app-botao>
    </app-linha>
</div>